body{margin: 0;}

.wrapper{
    height: 100vh;
    width: 100%;
    background-color: white;
    a {
      color:black;
    }
    .main{
      height:1300px;
      width: 100vw;
      background-color:  black;
      color: white;
      .title {
        height: 50px;
        display: block;
        margin-left:15px;
        font-family: 'ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
        font-size:27px;
        top:5px;
        left: 5px;
        border-bottom: white 1px solid;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        a{
          color:white !important;
          text-decoration: none !important;

        }
        .my_page{
          margin-right: 20px;
          font-size:17px;
        }
      }
      .main_drink{
        height: 1000px;
        width: 1350px;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        background-color:  black;
        padding-top: 40px;

        .drink_box{
          height: 600px;
          margin-left: 10px;
          width: 1330px;
          color:black;
          display: flex;
          display: block;
          padding-top: 20px;
          .drink_image{
            width: 92px;
            margin-left: 5px;
            margin-top: 5px;
            display: inline-block;
            padding-bottom:10px ;
            margin-top:20px ;
            opacity: 0.6;
            &:hover {
              opacity: 1;
              color: white;
            }
            &::break{
              word-break: break-all;
            }
            img{
              height:auto;
              width:50px;
              
            }
            .drink_name {
              font-size:12px;
              white-space: nowrap;
              text-align: center;
              margin:0 auto;  
            }
          }
      }
    }
  }
}