.order_message{
  color:white;
  font-size:20px;
}
.create_name{
  color:white;
  font-size: 25px;
  margin-top: 15px;
}
.create_num{
  color:white;
  font-size: 23px;
  margin-top: 15px;
}
.top{
  color: white;
  display: block;
  font-size: 23px;
  margin-top: 15px;

  a {
    color: white !important;
  }
  .top-btn{
    color: white;
    opacity: 0.5;

    &:hover{
      opacity: 1;
      display: block;
    }
      
  }
}