body{margin: 0;}
.background_new{
  width: 100%;
  height: 100vh;
  //background-image:url("/back_new.jpeg");

  .show_wrapper{
    height:calc(100vh);
    width: 100%;
    background-color:rgba(28, 26, 26,1);
    
    margin: 0 auto;
    .drink_info{
      text-align: center;
      height: 600px;
      .drink_name{
        font-size: 30px;
        height: 100px;
        line-height: 100px;
        font-weight: bold;
        color: white;
      }
      .drink_name{

      }
      .drink_image {
        img{
          height: auto;
          width:120px;
        }
      }
      .drink_price{
        height: 100px;
        font-size: 25px;
        color: white;
        margin-top:50px;
        .num{
          height: 35px;
          font-size:20px;
          width:70px;
          background-color:white;
          margin-top:25px;
        }
        .btn{
          height: 30px;
          font-size:20px;
          background-color: white;
          margin-top:30px;
          border-radius:7px ;
        }
        
      }
    }
  }
}