.wrapper
  .main
    .title
      .title_log
        TECH::DELI
    -if @owner == current_user
      = link_to "/orders/show" do
        管理者    
    - if @time.hour >= 24
      .main_drink
        対応時間外です
    -else
      .main_drink 
        注文するドリンクを選択してください
        .drink_box
          - @drinks.each do |drink|
            = link_to "/orders/new/#{drink.id}" do
              .drink_image
                %img{src:drink.image}
                .drink_name
                  = drink.name
        
-# (@time.hour >= 11 && @time.hour <= 12) || (@time.hour >= 18 && @time.hour <= 19) || (@time.hour <= 10) || (@time.hour >= 22)

