.wrapper
  .main
    .main_drink 
      .drink_box
        - @drinks.each do |drink|
          = link_to "/orders/new/#{drink.id}" do
            .drink_image
              %img{src:drink.image,height: '150',width: '92'}