.wrapper
  .header
    header
  .main
    main
    .main_drink
      .drink_box
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        .drink_image
          drink_image
        