.wrapper
  -# .header
  -#   = link_to "paso","/orders/1"
  .main
    .main_drink 
      注文するドリンクを選択してください
      .drink_box
        - @drinks.each do |drink|
          = link_to "/orders/new/#{drink.id}" do
            .drink_image
              %img{src:drink.image}
          
          
          

